{{ ansible_managed | comment }}

# Default logging to our dns.log.  Mind that daemon.log will get startup still.
logging {
  channel dns_syslog { syslog local3; severity info; };

  category default { dns_syslog; default_debug; };
{% if named_log_updates|default(false) %}
  category update { dns_syslog; default_debug; };
  category update-security { dns_syslog; default_debug; };
{% endif %}
};
        
# These addresses can query the cache.
acl recurse-queries { {% for a in named_allow_recursion -%}{{ a }}; {% endfor -%} };

{% for grp in group_names %}
{% if grp.endswith('_dnskey') %}
include "/etc/dnskeys/{{ grp }}";
{% endif %}
{% endfor %}

options {
    listen-on { {% for a in named_listen_on -%}{{ a }}; {% endfor -%} };
    listen-on-v6 { {% for a in named_listen_on_v6 -%}{{ a }}; {% endfor -%} };

    directory "/var/named";

    allow-query-cache { recurse-queries; };
    allow-recursion { recurse-queries; };
    allow-transfer { none; };

{% if named_forward_policy|default() %}
    forward {{ named_forward_policy }};
    forwarders { {% for a in named_forwarders -%}{{ a }}; {% endfor -%} };
{% endif %}

    # Disable nosy version output.
    version none;
    hostname none;
    server-id none;

    # Use UNIX epoch for zone serial number updates.
    serial-update-method unixtime;

{% for l in named_extra_options|default([]) %}
    {{ l }}
{% endfor %}
};

# Root hints
zone "." IN {
    type hint;
    file "root.hints";
};

{% for name, val in named_zones|default({})|dictsort %}
zone "{{ name }}" IN {
{% if val.type == "slave" %}
    type slave;
    file "slave/{{ name }}";
    masters { {% for m in val.masters -%}{{ m }}; {% endfor -%} };
{% elif val.type == "master" %}
    type master;
    file "master/{{ name }}";
    allow-transfer { {% for a in val.allow_transfer|default(['none']) -%}{{ a }}; {% endfor -%} };
{% endif %}
{% for l in val.extra_options|default([]) %}
    {{ l }}
{% endfor %}
};

{% endfor %}
